@import 'src/app/shared/variables';

$board-elements-background-color: #90A6C1;
$covered-cell-background-color: #90A6C1;

.board {
  text-align: center;
  margin: 30px 0;

  &_turns_counter {
    margin: 10px
  }

  h3 {
    margin: 0;
  }

  &_elements {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    background-color: $board-elements-background-color;
    padding: 10px;
    border: 2px;
  }

  &_element {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 3px;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
  }
}

.cell {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;

  &:hover {
    box-shadow: 0 1px 8px black;
    opacity: 0.85
  }

  &.miss {
    background-color: $miss-cell-background-color;
  }

  &.covered {
    background-color: $covered-cell-background-color;
  }

  &.hitted {
    background-color: $hitted-cell-background-color
  }

  &.notAllowed {
    cursor: not-allowed;
    box-shadow: none;
    opacity: inherit
  }
}

