<div class="board">
  <div class="board_elements">
      <ng-container *ngFor="let row of matrix; let x = index">
        <div class="board_element" *ngFor="let column of row; let y = index">
          <button class="cell" [ngClass]="getClassName(x, y)" (click)="cellClick(x, y, column)"></button>
        </div>
      </ng-container>
  </div>
</div>
