<section fxLayout="column">
  <h2 fxLayoutAlign="center">Finished games of {{currentUser.name}}</h2>

  <p class="centered-text" *ngIf="loading">
    loading ...
  </p>
  <ng-container *ngIf="!loading">
    <table fxFlex="100%" mat-table *ngIf="tableDataSource.length" [dataSource]="tableDataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
        <td mat-cell *matCellDef="let element"> {{formatDate(element.createdAt)}} </td>
      </ng-container>

      <ng-container matColumnDef="player1.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Player 1</th>
        <td mat-cell *matCellDef="let element"> {{element.player1.name}} </td>
      </ng-container>

      <ng-container matColumnDef="player2.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Player 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.player2.name}} </td>
      </ng-container>

      <ng-container matColumnDef="turnsPlayed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Played Turns </th>
        <td mat-cell *matCellDef="let element"> {{element.turnsPlayed}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Result </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <p class="centered-text" *ngIf="!tableDataSource.length">
      no records
    </p>
  </ng-container>
</section>

