<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/finished" (click)="onSidenavClose()">
    <mat-icon>history</mat-icon> <span class="nav-caption">Finished Games</span>
  </a>
  <a mat-list-item routerLink="/game" (click)="onSidenavClose()">
    <mat-icon>directions_boat_filled</mat-icon> <span class="nav-caption">New Game</span>
  </a>
  <a mat-list-item (click)="onLogoutClicked()">
    <mat-icon>logout</mat-icon> <span class="nav-caption">Logout</span>
  </a>
</mat-nav-list>
