<section fxLayout="column" fxFlex="50%" class="login-section">
  <h2>Login</h2>
  <form id="loginForm" (ngSubmit)="login()" [formGroup]="loginForm" fxLayout="column" fxLayoutGap="50px">
    <mat-form-field class="example-full-width">
      <mat-label>* Username</mat-label>
      <input id="user" matInput placeholder="Username" type="text" formControlName="userName" name="new-userName" autocomplete="new-userName">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>* Password</mat-label>
      <input id="password" matInput placeholder="Password" type="password" formControlName="password" name="new-password" autocomplete="new-password">
    </mat-form-field>
    <div align="start" fxFlex="20%">
      <button id="submit" button mat-flat-button color="primary" cdkFocusInitial [disabled]="loginForm.invalid || logging" type="submit">Login</button>
    </div>
  </form>
  <p *ngIf="logging">logging in ...</p>
</section>
