<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a [routerLink]="['/home']">TK Battleship</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a href="#" mat-button [routerLink]="['/home']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a href="#" mat-button [routerLink]="['/finished']">
      <mat-icon>history</mat-icon>
      <span>Finished Games</span>
    </a>
    <a href="#" mat-button [routerLink]="['/game']">
      <mat-icon>directions_boat_filled</mat-icon>
      <span>New Game</span>
    </a>
    <a href="#" mat-button (click)="onLogoutClicked()">
      <mat-icon>logout</mat-icon>
      <span>Logout ({{currentUser.name}})</span>
    </a>
  </div>
</mat-toolbar>
