<section fxLayout="column">
  <h2 fxLayoutAlign="center">Battleship of {{currentUser.name}}</h2>

  <p class="centered-text" *ngIf="loading">
    loading ...
  </p>
  <ng-container *ngIf="!loading">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-between" fxLayoutGap="5%">
      <div fxLayout="column" fxFlex="50%">
        <h3>Games Pool</h3>
        <table fxFlex="100%" mat-table *ngIf="poolGames.length" [dataSource]="poolGames" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
              <td mat-cell *matCellDef="let element"> {{formatDate(element.createdAt)}} </td>
            </ng-container>

            <ng-container matColumnDef="player1.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Opponent </th>
              <td mat-cell *matCellDef="let element"> {{element.player1.name}} </td>
            </ng-container>

            <ng-container matColumnDef="play">
              <th mat-header-cell *matHeaderCellDef> Play </th>
              <td mat-cell *matCellDef="let element" class="actions">
                <mat-icon (click)="play(element.id)">directions_boat_filled</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsPoolGames"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPoolGames"></tr>
          </table>
        <p class="centered-text" *ngIf="!poolGames.length">
          no records
        </p>
      </div>

      <div fxLayout="column" fxFlex="50%">
        <h3>My Current Games</h3>
        <table fxFlex="100%" mat-table *ngIf="currentGames.length" [dataSource]="currentGames" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
              <td mat-cell *matCellDef="let element"> {{formatDate(element.createdAt)}} </td>
            </ng-container>

            <ng-container matColumnDef="turnsPlayed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Played Turns </th>
              <td mat-cell *matCellDef="let element"> {{element.turnsPlayed}} </td>
            </ng-container>

            <ng-container matColumnDef="currentTurn.name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Turn </th>
              <td mat-cell *matCellDef="let element"> {{element.currentTurn.name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Play </th>
              <td mat-cell *matCellDef="let element" class="actions">
                <mat-icon (click)="play(element.id)">directions_boat_filled</mat-icon>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsCurrentGames"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsCurrentGames;"></tr>
          </table>
        <p class="centered-text" *ngIf="!currentGames.length">
          no records
        </p>
      </div>
    </div>
  </ng-container>
</section>
