@import 'src/app/shared/variables';

.surrender-button {
  width: 20%;
}
.bold {
  font-weight: bold;
}

.key-container {
  text-align: left;
  margin: 30px;

  .key {
    margin: 20px 0;
    .square {
      height: 20px;
      width: 20px;
      margin-right: 30px;

      &.missed {
        background-color: $miss-cell-background-color;
      }

      &.hitted {
        background-color: $hitted-cell-background-color
      }
    }
  }
}

