<section fxLayout="column">
  <h1 fxLayoutAlign="center">Game {{this.gameId}} : {{this.currentUser.name}} {{this.opponentName ? 'vs '+ this.opponentName : ''}}</h1>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between" fxLayoutGap="5%">
    <div fxLayout="column" fxFlex="50%">
      <ng-container *ngIf="!gameReady">
        loading ..
      </ng-container>
      <ng-container *ngIf="gameReady">
        <p>Status : {{renderStatus()}}</p>
        <app-board [matrix]="matrix" (onClickCell)="makeMove($event)" [clickable]="currentTurnId === currentUser.id && !this.actionInProgress">
        </app-board>
        <button button mat-flat-button color="warn" class="surrender-button" (click)="surrenderGame()">Surrender</button>
      </ng-container>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start center">
      <div class="key-container">
        <p>Board Keys</p>
        <div class="key" fxLayout="row">
          <div class="square hitted"></div> HIT SHIP CELL
        </div>
        <div class="key" fxLayout="row">
          <div class="square missed"></div> MISSED SHIP CELL
        </div>
      </div>
      <ng-container *ngIf="actionsStack.length">
        <p *ngFor="let action of actionsStack" [class.bold]="action.actionDesc.indexOf(currentUser.name) !== -1">{{action.actionDesc}}</p>
        <p *ngIf="actionInProgress"> loading ..</p>
      </ng-container>
    </div>
  </div>
</section>
