/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section {
  padding: 16px;
  display: block;
  position: relative;
}
.actions {
  mat-icon {
    cursor: pointer;
  }
}
.centered-text {
  text-align: center;
}
